<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.prjdb.book.map.BookMapper">
	<select id="bookSelectList" resultType="co.yedam.prjdb.book.service.BookVO">
		SELECT * FROM BOOK
	</select>
	<insert id="bookInsert" parameterType="co.yedam.prjdb.book.service.BookVO">
		<selectKey keyProperty="bookId" resultType="int" order="BEFORE">
		SELECT NVL(MAX(BOOK_ID),0)+1 as bookId
		FROM BOOK
		</selectKey>
		INSERT INTO BOOK(BOOK_ID, BOOK_CODE, BOOK_NAME, BOOK_WRITER, BOOK_PUBLISHER, BOOK_PRICE)
		VALUES(#{bookId}, #{bookCode}, #{bookName}, #{bookWriter}, #{bookPublisher}, #{bookPrice})
	</insert>
	<delete id="bookDelete" parameterType="co.yedam.prjdb.book.service.BookVO">
		DELETE FROM BOOK WHERE BOOK_ID=#{bookId}
	</delete>
</mapper>